*{
  padding: 0px;
  margin: 0px;
}

header{
  width: 100%;
  height: 40px;
  background-color: #08903E;
}

#items{
  display: inline-flex;
  padding-top: 10px;
  padding-left: 630px;
}

#portal_clientes{
  background-color: #E5A73C;
  width: 125px;
  height: 20px;
  border-radius: 25px;
}

#portal_titulo{
  color: #1E412F;
  padding: 3px;
  margin-left: 6px;
  font-weight: 600;
}

#buscar{
  padding-left: 20px;
}

#buscar_campo{
  width: 90px;
  height: 20px;
  border-radius: 25px;
  color: #1E412F;
  padding-left: 5px;
}

#informacion{
  display: inline-flex;
  padding-top: 3px;
  padding-left: 20px;
}

#llamar_titulo{
  color: #E5A73C;
  font-weight: bolder;
}

#llamar_numero{
  color: #EBE3D5;
}

#s_media_share{
  margin-top: -3px;
  display: inline-flex;
  padding-left: 20px;
}

#fb_icon{
  padding-left: 10px;
}