/* FORMULARIO DE BOLSA DE TRABAJO */

.container .form_1 {
    background-color: #1E412F;
    height: auto;
    width: 100%;
    transition: 0.3s ease box-shadow;
}

.container .form_1 .form {
    width: 100%;
}

.container .form_1 .form_bolsa {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .form_1 .form_bolsa .form {
    padding: 40px 0;
}


.container .form_1:hover {
    box-shadow: inset 0 0 17px rgba(255, 255, 255, 0.8);
}

.container .form_1 .form_bolsa div {
    background-color: #1E412F;
    color: #EBE3D5;
    margin: auto;
}

.container .form_1 .form_bolsa h1 {
    text-align: center;
}

.container .form_1 .form_bolsa .group {
    padding: 0;
    border-radius: 0;
    margin: 45px;
    position: relative; 
}

.container .form_1 .form_bolsa .group input {
    background-color: transparent;
    color: #C6C6C6;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #132b1f;
}

.container .form_1 .form_bolsa .group input:focus {
    outline: none;
    color: #EBE3D5;
}

.container .form_1 .form_bolsa .group input:focus~label, .container .form_1 .form_bolsa .group input:valid~label {
    top: -14px;
    font-size: 12px;
    color: #08903E;
}

.container .form_1 .form_bolsa .group .bar {
    position: relative;
    display: block;
    width: 100%;
}

.container .form_1 .form_bolsa .group .bar::before {
    content: "";
    height: 2px;
    width: 0%;
    bottom: 0%;
    position: absolute;
    background-color: #08903E;
    transition: 0.3s ease width;
    left: 0;
}

.container .form_1 .form_bolsa .group input:focus~.bar::before {
    width: 100%;
}

.container .form_1 .form_bolsa button {
    font-family: Montserrat;
    background-color: #08903E;
    color: #EBE3D5;
    border-radius: 14px;
    width: 80%;
    border: none;
    display: block;
    margin: 10px auto;
    height: 40px;
    font-size: 17px;
    cursor: pointer;
    transition: 0.3s ease box-shadow;
}

.container .form_1 .form_bolsa button:hover {
    box-shadow: 0 0 7px rgba(255, 255, 255, 0.8);
}

.container .form_1 .form_bolsa .group label {
    color: #ebe3d562;
    font-size: 16px;
    position: absolute;
    bottom: 0;
    left: 5px;
    top: 10px;
    transition: 0.5s ease-in-out all;
    pointer-events: none;
}

.container .form_1 .form_bolsa .group #choose_file {
    color: #ebe3d562;
    /* font-size: 16px; */
    text-align: left;
}



/* FORMULARIO DE BOLSA DE TRABAJO */

.container .form_2 {
    background-color: #1E412F;
    height: auto;
    width: 100%;
    transition: 0.3s ease box-shadow;
}

.container .form_2 .form {
    width: 100%;
}

.container .form_2 .form_bolsa {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .form_2 .form_bolsa .form {
    padding: 40px 0;
}

.container .form_2:hover {
    box-shadow: inset 0 0 17px rgba(255, 255, 255, 0.8);
}

.container .form_2 .form_bolsa div {
    background-color: #1E412F;
    color: #EBE3D5;
    margin: auto;
}

.container .form_2 .form_bolsa h1 {
    text-align: center;
}

.container .form_2 .form_bolsa .group {
    padding: 0;
    border-radius: 0;
    margin: 45px;
    position: relative; 
}

.container .form_2 .form_bolsa .group input {
    background-color: transparent;
    color: #C6C6C6;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #132b1f;
}

.container .form_2 .form_bolsa .group input:focus {
    outline: none;
    color: #EBE3D5;
}

.container .form_2 .form_bolsa .group input:focus~label, .container .form_2 .form_bolsa .group input:valid~label {
    top: -14px;
    font-size: 12px;
    color: #08903E;
}

.container .form_2 .form_bolsa .group .bar {
    position: relative;
    display: block;
    width: 100%;
}

.container .form_2 .form_bolsa .group .bar::before {
    content: "";
    height: 2px;
    width: 0%;
    bottom: 0%;
    position: absolute;
    background-color: #08903E;
    transition: 0.3s ease width;
    left: 0;
}

.container .form_2 .form_bolsa .group input:focus~.bar::before {
    width: 100%;
}

.container .form_2 .form_bolsa button {
    font-family: Montserrat;
    background-color: #08903E;
    color: #EBE3D5;
    border-radius: 14px;
    width: 80%;
    border: none;
    display: block;
    margin: 10px auto;
    height: 40px;
    font-size: 17px;
    cursor: pointer;
    transition: 0.3s ease box-shadow;
}

.container .form_2 .form_bolsa button:hover {
    box-shadow: 0 0 7px rgba(255, 255, 255, 0.8);
}

.container .form_2 .form_bolsa .group label {
    color: #ebe3d562;
    font-size: 16px;
    position: absolute;
    bottom: 0;
    left: 5px;
    top: 10px;
    transition: 0.5s ease-in-out all;
    pointer-events: none;
}

.container .form_2 .form_bolsa .group #choose_file {
    color: #ebe3d562;
    font-size: 11px;
    text-align: left;
}

@media screen and (max-width: 1180px) {
    .container .form_1:hover {
        box-shadow: none;
    }

    .container .form_2:hover {
        box-shadow: none;
    }
}

