body{
    margin: 0%;
    padding: 0%;
    font-family: Montserrat;
}
h2{
    align-self: center;
    color: white;
}

@font-face {
    font-family: Montserrat;
    src: url(Montserrat-Regular.otf);
}

.container{
  display: flex;
    flex-direction: row;
}

.body{
    width: 70%;
}

#header_image{
    background-color: #282936;
    color: whitesmoke;
    width: 100%;
    height: 200px;
}

#nav_bar{
  background-color: #08903E;
  width: 30%;
  padding-bottom: 10%;
}

.tres_estrellas{
    display: inline-flex;
    height: 185px;
    padding-bottom: 70px;
}


.lineamientos_con_la_marca{
    width: 635px;
    background-color: #08903E;
    text-align: justify;
    padding-top: 14px;
    padding-bottom: 70px;
    color: #EBE3D5;
    border-radius: 14px;
}

#lineamientos_titulo{
    margin: 18px;
}

#lineamientos_descripcion{
    margin: 18px;
}

#tres_estrellas_logo{
    width: 178px;
    height: 185px;
    border-radius: 25px;
}

#harinas_tres_estrellas_logo{
    width: 178px;
    margin-top: -77px;
    height: 185px;
    padding-left: 217.5px;
}

#rendimix_descripcion{
    width: 457px;
}


 /* estilos para pagina de derivados y ¿quienes somos? */
#deriv_descripcion{
    margin-left: 10%;
    margin-right: 10%;
    font-family: Montserrat;
    text-align: justify;
}

.titulos{

  color: #519C45;
  font-size: 36pt;
  width: 90%;
  margin-left: 14%;
}

#seg_box{

    width: 450px;
    height: 15px;
    background-color:#EED11F;
    border-radius: 14px;
    text-align: center;
    color: #000000;
}


#catalogo_titulo_box{
    width: 635px;
    height: 35px;
    background-color: #08903E;
    border-radius: 14px;
}

#catalogo_titulo{
    padding: 6px;
    margin-left: 15px;
    color: #EBE3D5;
}

#catalogo_tabla{
    padding-left: 20%;
}

dt{
    color: #08903E;
    font-size: 14pt;
    padding-bottom: 15px;
    padding-top: 10px;
}

#catalog_des_box{
    width: 600px;
    height: 30px;
    background-color: #282936;
    border-radius: 14px;
}

dd{
    color: #EBE3D5;
    padding-top: 5px;
    padding-left: 14px;
}

#bm_pdf_download{
    padding-top: 110px;
    font-weight: bold;
    font-size: 30px;
    color: #EBE3D5;
    width: 164px;
    padding-left: 17px;
    height: 127px;
}

#bm_pdf_link{
    width: 247px;
    height: 25px;
    padding-top: 4px;
    font-size: 14px;
    text-decoration: underline;
    color: #E5A73C;
    padding-left: 30px;
    padding-bottom: 75px;
}

#line{

    width: 230px;
    height: 2px;
    background-color: #EBE3D5;
    border-radius: 25px;
    padding-left: 80px;
}

#bm_receipts_pdf_download{

    padding-top: 70px;
    font-weight: bold;
    font-size: 30px;
    color: #EBE3D5;
    width: 164px;
    padding-left: 17px;
    height: 200px;
}

#bm_receipts_pdf_link{
    width: 247px;
    height: 25px;
    padding-top: 54px;
    font-size: 14px;
    text-decoration: underline;
    color: #E5A73C;
    padding-left: 30px;
    padding-bottom: 75px;
}

#rel_products{
    padding-top: 70px;
    font-weight: bold;
    font-size: 30px;
    color: #EBE3D5;
    width: 164px;
    padding-left: 17px;
    height: 100px;
}

#rel_products_link{
    width: 247px;
    height: 25px;
    padding-top: 4px;
    font-size: 24px;
    font-weight: bold;
    color: #E5A73C;
    padding-left: 30px;
    padding-bottom: 70px;
}

#items{
    padding-left: 36px;
}

.foot_con{
    width: 100%;
    height: 220px;
    background-color: #324D53;
    z-index: 1;
    position: relative;
    
}

#footer_items{
    padding-top: 0px;
    padding-left: 2.5%;
    height: 150px;
    display: inline-flex;
}

#contacto{
    font-size: 16pt;
    color: #EBE3D5;
    font-weight: bold;
}

#contacto_descripcion{
    font-size: 10pt;
    color: #EBE3D5;
    font-weight: lighter;
    width: 252px;
    height: 134px;
    padding-top: 0px;
}

#footer_items_2{
    padding-left: 140px;
}

#footer_items_3{
    padding-left: 140px;
}

#footer_items_4{
    padding-left: 80px;
}

#boletin{
    font-size: 16pt;
    color: #EBE3D5;
    font-weight: bold;
    padding-left: 77px;
}

#boletin_links{
    font-size: 10pt;
    color: #EBE3D5;
    font-weight: lighter;
    padding-top: 0px;
    padding-left: 77px;
}

#bolsa_trabajo{
    font-size: 16pt;
    color: #EBE3D5;
    font-weight: bold;
    padding-left: 77px;
}

#bolsa_trabajo_link{
    font-size: 10pt;
    color: #EBE3D5;
    font-weight: lighter;
    padding-top: 0px;
    padding-left: 77px;
}

#siguenos{
    font-size: 16pt;
    color: #EBE3D5;
    font-weight: bold;
    padding-left: 77px;
}

#s_media{
    padding-left: 77px;
}


#fb_icon{
    display: inline-flex;
    padding-top: 0px;
    padding-left: 14px;
}

#footer_line{
    width: 85%;
    height: 1px;
    background-color: #EBE3D5;
    border-radius: 25px;
    margin-left: 8%;
}

#privacy{
    margin-left: 41%;
    display: inline-flex;
}

#privacy_adv{
    text-align: center;
    padding-top: 0px;
    font-size: 10pt;
    color: #EBE3D5;
    font-weight: lighter;
}

#share{
    padding-top: 70px;
    font-weight: bold;
    font-size: 30px;
    color: #EBE3D5;
    width: 164px;
    padding-left: 17px;
    height: 50px;
}

.tabla_prod{
    margin-left: 10%;
    width: 80%;
    
}
#fila_tabla{
    height: 45vh;
    background-color: green;
    display: flex;
    flex-direction: row;
}
#celda_imagen{
    width: 30%;
    background-color: grey;

}

#info_tabla{
    width: 75%;
    text-align: justify; 
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 3%;
    font-family: Montserrat;
}
#info_tabla_am{
    width: 75%;
    text-align: justify; 
    padding-left: 5%;
    padding-right: 5%;
    background-color: #FFC627;
    padding-top: 3%;
    font-family: Montserrat;
}
#tabla_image{
    width: 100%;
    height: 100%;
}


 /* estilos para display de evolución ¿quienes somos? */
#fila_ev{
    height: 20vh;
    background-color: green;
    display: flex;
    flex-direction: row;
}
#celda_ev{
    width: 40%;
    background-color: grey;
    text-align: center;
    padding-top: 3%;

}

#info_ev{
    width: 75%;
    text-align: justify; 
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 3%;
    background-color: #FFC627;
    font-family: Montserrat;

}
/* Estilos para mision,vision,valores y politicas ¿quines somos? */

.cuadro_carac{
    margin-left: 10%;
    width: 80%;

}

#fila_carac{
    height: 20vh;
    display: flex;
    flex-direction: row;
}

#apartado_carac{
    width: 45%;
    margin-right: 5%;
    margin-left: 5%;
    display:flex;
    flex-direction: column;
    align-items: center;
    
    

  
}
#titulo_ap{
    background-color: green;
    width: 50%;
    margin: auto;
    text-align: center;
    border-radius: 7px;
    font-family: Montserrat;

}
#titulo_ap_am{
    background-color: grey;
    width: 50%;
    margin: auto;
    text-align: center;
    border-radius: 7px;
    background-color: #FFC627;
    font-size: 13px;
    font-family: Montserrat;
}
#info_ap{
    /*background-color: grey;*/
    width: 90%;
    height: 55;
    margin: auto;
    text-align: justify;
    padding: 5%;
    border-radius: 7px;
    border-color: blue;
    font-family: Montserrat;
    
    
}



/* Id para efectos js*/

#text_1988{
    
}


}

