
@font-face {
    font-family: Montserrat;
    src: url(Montserrat-Regular.otf);
}


*{
    margin: 0%;
    padding: 0%;
    font-family: Montserrat;
}

p{
    font-family: Montserrat;
    color: white ;
    font-family: Montserrat;
}

.body{
    padding-left: 120px;
    padding-top: 80px;
    padding-bottom: 80px;
}

.lineamientos_con_la_marca{
    width: 80%;
    text-align: justify;
    padding-top: 14px;
    padding-bottom: 70px;
    color: #EBE3D5;
    border-radius: 14px;
    border-width: 10px;
    background: #ffc72c;
    box-shadow:  50px 50px 100px #665012,
             -50px -50px 100px #ffff46;
}

#lineamientos_titulo{
    margin: 20px;
}

#lineamientos_descripcion{
    margin: 20px;
}

#header_image{
    background-color: #282936;
    color: whitesmoke;
    width: 100%;
    height: 200px;
}

#nav_bar{
    width: 400px;
    height: 1459px;
    background-color: #519C45;
    position: absolute;
    right: 0px;
}


#img_producto{
    width: 178px;
    border-radius: 25px;
}

#producto_descripcion{
    text-align: justify;
    padding-left: 60px;
    width: 700px;
}

.Boton_conoceMas{
    background: #519C45;
    color: white;
    font-size: 14pt;
    font-weight: bold;
    width: 160px;
    height: 28px;
    padding: 0;
    border: none
}

.Boton_conoceMas:hover{
    background: white;
    color: #519C45;
}

#cuadrado{
    height: 200px;
    /*width: 100%;*/
    background: #519C45;
}

#items{
    padding-left: 36px;
}

#catalogo_titulo_box{
    width: 635px;
    height: 35px;
    background-color: #08903E;
    border-radius: 14px;
}

#catalogo_titulo{
    padding: 6px;
    margin-left: 15px;
    color: #EBE3D5;
}

#catalogo_tabla{
    padding-left: 14px;
}

dt{
    color: #08903E;
    font-size: 14pt;
    padding-bottom: 15px;
    padding-top: 10px;
    font-weight: bold;
}

#catalog_des_box{
    width: 1000px;
    border-radius: 14px;
}

#descripcion_prod{
    margin: 20px;
    text-align: justify;
}

#subtitulo_prod{
    font-weight: bold;
}

dd{
    color: #EBE3D5;
    padding-top: 5px;
    padding-left: 14px;
}

#img_prod{
    height: 200px;
    width: 177px;
}

footer{
    width: 100%;
    height: 220px;
    background-color: #324D53;
    z-index: 1;
    position: relative;
    
}

#footer_items{
    padding-top: 25px;
    padding-left: 2.5%;
    height: 150px;
    display: inline-flex;
}

#contacto{
    font-size: 16pt;
    color: #EBE3D5;
    font-weight: bold;
}

#contacto_descripcion{
    font-size: 10pt;
    color: #EBE3D5;
    font-weight: lighter;
    width: 252px;
    height: 134px;
    padding-top: 15px;
}

#footer_items_2{
    padding-left: 140px;
}

#footer_items_3{
    padding-left: 140px;
}

#footer_items_4{
    padding-left: 80px;
}

#boletin{
    font-size: 16pt;
    color: #EBE3D5;
    font-weight: bold;
    padding-left: 77px;
}

#boletin_links{
    font-size: 10pt;
    color: #EBE3D5;
    font-weight: lighter;
    padding-top: 17px;
    padding-left: 77px;
}

#bolsa_trabajo{
    font-size: 16pt;
    color: #EBE3D5;
    font-weight: bold;
    padding-left: 77px;
}

#bolsa_trabajo_link{
    font-size: 10pt;
    color: #EBE3D5;
    font-weight: lighter;
    padding-top: 17px;
    padding-left: 77px;
}

#siguenos{
    font-size: 16pt;
    color: #EBE3D5;
    font-weight: bold;
    padding-left: 77px;
}

#s_media{
    padding-left: 77px;
}


#fb_icon{
    display: inline-flex;
    padding-top: 17px;
    padding-left: 14px;
}

#footer_line{
    width: 85%;
    height: 1px;
    background-color: #EBE3D5;
    border-radius: 25px;
    margin-left: 8%;
}

#privacy{
    margin-left: 41%;
    display: inline-flex;
}

#privacy_adv{
    text-align: center;
    padding-top: 12px;
    font-size: 10pt;
    color: #EBE3D5;
    font-weight: lighter;
}

#share{
    padding-top: 70px;
    font-weight: bold;
    font-size: 30px;
    color: #EBE3D5;
    width: 164px;
    padding-left: 17px;
    height: 50px;
}