@font-face {
    font-family: Montserrat;
    src: url(Montserrat-Regular.otf);
}

* {
    margin: 0;
    padding: 0;
    font-family: Montserrat;
}

.menu {
    position: fixed;
    padding: 0;
    margin: 0;
}

/* CONTENEDOR - ENGLOBA TODA LA PAGINA */

.container {
    width: 95%;
    padding-top: 100px;
    margin: 20px auto;
    margin-top: 0;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);

    grid-template-areas: "header header header"
                         "content content sidebar"
                         "content2 content2 sidebar"
                         "widget-1 widget-2 sidebar"
                         "footer footer footer";
}

/* CLASES DEL CONTENEDOR - CADA UNA DE ELLAS */

.container div, 
.container .header, 
.container .content,
.container .content2,
.container .sidebar, 
.container .footer {
    background-color: aliceblue;
    padding: 20px;
    border-radius: 14px;
}

/* HEADER DE LA PAGINA */

.container .header {
    color: aliceblue;
    grid-area: header;
    padding: 0px;
}

/* IMAGEN DEL HEADER */

.container .header #header_image {
    width: 100%;
    border-radius: 14px;
}

/* CONTENIDO - ENGLOBA EL CONTENIDO PRINCIPAL */

.container .content {
    grid-area: content;
    background-color: #08903E;
    color: #EBE3D5;
    text-align: justify;
}

/* CONTENIDO 2 - ENGLOBA EL CONTENIDO SECUNDARIO */

.container .content2 {
    grid-area: content2;
    background-color: #EBE3D5;
    color: #1E412F;
    text-align: justify;
}


.container .content span {
    color: #EBE3D5;
    font-size: 55pt;
    display: flex;
    justify-content: center;
}

.container .content2 span {
    color: #1E412F;
    font-size: 55pt;
    display: flex;
    justify-content: center;
}

/* SIDEBAR - ENGLOBA TODA LA SIDEBAR */

.container .sidebar {
    grid-column: 3 / 4;
    background-color: #1E412F;
    min-height: 100px;
    grid-area: sidebar;
}

.container .sidebar h1 {
    color: #EBE3D5;
    font-size: 18pt;
}

.container .sidebar a {
    color: #E5A73C;
    text-decoration: none;
    font-size: 11pt;
}

.container .sidebar span {
    margin-right: 10px;
}

.container .sidebar ul {
    color: #EBE3D5;
    font-size: 18pt;
    list-style: none;
    /* CONTROL DEL ESPACIADO ENTRE LOS ELEMENTOS DE LA SIDEBAR */
    padding: 20px;
}

.container .sidebar ul li {
    padding-bottom: 15px;
}

.container .sidebar ul li a {
    font-size: 15pt;
}

.container .sidebar div {
    background-color: transparent;
    padding: 0;
    /* CONTROL DEL ESPACIADO ENTRE LOS ELEMENTOS DE LA SIDEBAR */
    padding-bottom: 35px;
}

.container .sidebar .share_buttons li {
    display: inline-block;
}


/* WIDGETS - ENGLOBA AMBOS WIDGETS */

.container .widget-1, .container .widget-2 {

    background-color: #55A8FD;
    color: aliceblue;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

}

/* WIDGET 1 - SOLO EL PRIMER WIDGET */

.container .widget-1 {
    grid-area: widget-1;
}

/* WIDGET 2 - SOLO EL SEGUNDO WIDGET */

.container .widget-2 {
    grid-area: widget-2;
}

/* FOOTER - ENGLOBA TODO EL FOOTER */

.container .footer {
    background-color: #12203E;
    color: aliceblue;
    grid-area: footer;
}

/* MEDIA QUIERY - DISPOSITIVOS CON UN ANCHO MAXIMO DE 768 PIXELES */

@media screen and (max-width: 768px) {
    
    .container {

        grid-template-areas: "header header header"
                             "content content content"
                             "content2 content2 content2"
                             "sidebar sidebar sidebar"
                             "widget-1 widget-1 widget-2"
                             "footer footer footer";
    }

}
