@font-face {
    font-family: Montserrat;
    src: url(Montserrat-Regular.otf);
}

* {
    margin: 0;
    padding: 0;
    font-family: Montserrat;
}

.header div {
	padding: 0;
}

.slides {
	width: 100%;
	z-index: -1;
}

.slides img {
	width: 100%;
}

.slidesjs-pagination {
	background-color: #08903E;
	list-style: none;
	overflow: hidden;
}

.slidesjs-pagination li {
	float: left;
}

.slidesjs-pagination li a {
	float: left;
	display: block;
	padding: 10px 20px;
	text-decoration: none;
	color: white;
}

.slidesjs-pagination li a:hover {
	background-color: #1E412F;
} 

.slides .active {
	background-color: #1E412F;
}

.slidesjs-navigation {
	background-color: #1E412F;
	color: white;
	text-decoration: none;
	padding: 11.45px 20px;
	float: right;
}


@media screen and (max-width: 700px) {
	/* .slidesjs-navigation {
		display: none;
	}

	.slidesjs-pagination {
		display: none;
	} */
}